<div id="background">
	<div id="login-ui">
		<div id="header"></div>
		<div id="content">
			<form [ngFormModel]="myForm" (ngSubmit)="login(myForm.value)" 
				id="form">
			
				<input [ngFormControl]="myForm.controls['username']" 
					[class.usernameError]="!username.valid && username.touched"
					id="username" class="input" type="text" placeholder="User Name" autofocus>
			
				<input [ngFormControl]="myForm.controls['password']" 
					[class.passwordError]="!password.valid && password.touched"
					id="password" class="input" type="password" placeholder="Password">
				
				<button id="login-btn" class="button" type="submit">LOGIN</button>
				<button id="register-btn" class="button" type="button" (click)="toRegister()">REGISTRATION</button>
			
			</form>
		</div>
	</div>
</div>